a{
    list-style: none;
    text-decoration: none;
}

button{
    font-family: 'Raleway', sans-serif;
    margin-top: 10vh;
    border-style: none;
    border-color: none;
    border-radius: 25px;
    height: 8vh;
    width: 15vw;
    color: white;
    letter-spacing: 1px;
    background-color: blue;
    cursor: pointer;
}